/* Estilos para quando a opção "Deficiência física" estiver ativada */

.physical-disability-friendly {
    background-color: #5e5e5e;
    color: #0a0a0a;
    font-size: 24px; /* Ajuste o tamanho da fonte conforme necessário */
}

.physical-disability-friendly .card {
    background-color: rgb(0, 0, 0); /* Fundo branco para os cards */
    color: #333; /* Texto mais escuro nos cards */
    border-color: #000000; /* Borda mais clara para os cards */
}

.physical-disability-friendly h5{
    color: black;
}

.physical-disability-friendly .card-body{
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
}

.physical-disability-friendly .btn {
    font-size: 20px; /* Ajuste o tamanho dos botões conforme necessário */
}

.physical-disability-friendly .card-body{
    background-color: black;
}

.autism-friendly .card {
    background-color: rgb(0, 0, 0); /* Fundo branco para os cards */
    color: #333; /* Texto mais escuro nos cards */
    border-color: #ccc; /* Borda mais clara para os cards */
}

.physical-disability-friendly a {
    color: #000000;
    font-weight: bold;
}

.physical-disability-friendly h5{
    color: black;
    font-size: 28px;
}

.physical-disability-friendly .navbar {
    background-color: #010320;
}

.physical-disability-friendly .card {
    background-color: #000;
    color: #fff;
}

.physical-disability-friendly .navbar .navbar-brand,
.physical-disability-friendly .navbar-toggler {
    color: #000000;
}

.physical-disability-friendly .navbar-toggler-icon {
    background-color: #fff;
}

.physical-disability-friendly .navbar-nav .nav-link {
    color: #000000;
}

.physical-disability-friendly .navbar-nav .dropdown-menu {
    background-color: #010320;
}

.physical-disability-friendly .navbar-text {
    color: #000000;
}

.physical-disability-friendly .card {
    background-color: #000000;
    color: #000000;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
}

.physical-disability-friendly .btn-primary {
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
}


.physical-disability-friendly .modal-footer {
    border: none;
}

.physical-disability-friendly footer {
    background-color: #010320;
    color: #fff;
}

.physical-disability-friendly footer a {
    color: #fff;
}

.physical-disability-friendly .list-group-item {
    background-color: #5B42F3;
    color: #fff;
}

.physical-disability-friendly .list-group-item.active {
    background-color: #010320;
}

.physical-disability-friendly .text-white {
    color: #fff;
}

.physical-disability-friendly .text-purple {
    color: #000000;
}

.physical-disability-friendly .bg-purple {
    background-color: #000000;
}

.physical-disability-friendly .modal-content {
    color: #000000;
}

